body{
    background-color: rgb(39, 37, 90);
    color: white;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.header>h1{
    padding-left: 20px;
}
.header>p{
    padding-left: 20px;
    font-family: arial;
}
.logo-icon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-image: url(https://i.ibb.co.com/sWc4jLW/iblis.jpg);
    background-size: cover;
}
nav {
    display: flex;
}
.left-rounded {
    padding-left: 20px;
    border-radius: 7px 0 0 7px;
}
.right-rounded {
    padding-right: 20px;
    border-radius: 0 7px 7px 0;
}
nav>a {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    color: white;
    text-decoration: none;
}

.slider {
    width: 100%;
}

.paragraf{
    display: flex;
    justify-content: center;

}

.paragraf>p{
    padding: 20px;
    border: 2px solid black;
}

.content {
    height: 500px;
    width: auto;
}
footer {
    text-align: center;
}
